{% extends "layout.html" %}

{% block title %}Blocked Users{% endblock %}

{% block content %}
<h2 class="mb-4">locked Users</h2>
<div class="bg-white p-4 rounded shadow-sm">
  <table id="myTable" class="table table-hover table-striped align-middle mb-0 nowrap" style="width:100%; border-collapse: collapse;">
    <thead class="table-light">
      <tr>
        <th>Username</th>
        <th>IP Address</th>
        <th>Platform</th>
        <th>locked Expire</th>
        <th>Interval</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.last_failed_ip or '-' }}</td>
        <td>{{ user.last_failed_platform or '-' }}</td>
        <td>{{ user.lockout_until_bkk.strftime('%d-%m-%Y %H:%M:%S') or '-' }}</td>
        <td>{{ user.failed_login_attempts }}</td>
        <td>
        <form action="{{ url_for('unlock_user', user_id=user.id) }}" method="post" onsubmit="return confirm('Unlock {{ user.username }}?');">
            <button type="submit" class="btn btn-sm btn-success">Unlock</button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  </div>
{% endblock %}
