{% extends "layout.html" %}
{% block title %}Campaign Message{% endblock %}

{% block content %}
<h2 class="mb-4">Campaign Message</h2>
<form method="POST" action="/campaign/outbound" class="bg-white p-4 rounded shadow-sm">

    <div class="row mb-3">
    
    <div class="col-md-6">
        <label for="dn" class="form-label">DN:</label>
        <input type="text" class="form-control" name="dn" required>
    </div>
    
    <div class="col-md-6">
        <label for="number" class="form-label">Phone No.:</label>
        <input type="text" class="form-control" name="number" required>
    </div>

    <div class="col-md-6">
        <label for="message" class="form-label">Message:</label>
        <input type="text" class="form-control" name="message" required>
    </div>

    <div class="col-md-6">
        <label for="category" class="form-label">Category:</label>
        <input type="text" class="form-control" name="category" required>
    </div>

    <div class="col-md-6">
        <label for="sub_category" class="form-label">Sub-Category:</label>
        <input type="text" class="form-control" name="sub_category" required>
    </div>

    
</div>

  <button type="submit" class="btn btn-primary">Start</button>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>


<!--ตาราง CampaignMessage -->
<div class="bg-white p-4 rounded shadow-sm">
  <h5>Campaign Message Log</h5>
  <div style="overflow-x: auto;">
    <table id="myTable" class="table table-striped align-middle nowrap" style="width:100%;">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>DN</th>
          <th>Number</th>
          <th>Message</th>
          <th>Category</th>
          <th>Sub-Category</th>
          <th>Call Status</th>
          <th>Created At</th>
          <th>Called At</th>
        </tr>
      </thead>
      <tbody>
        {% for msg in messages %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ msg.dn }}</td>
          <td>{{ msg.number }}</td>
          <td>{{ msg.message }}</td>
          <td>{{ msg.category }}</td>
          <td>{{ msg.sub_category }}</td>
          <td>
              {% if msg.call_status == 'success' %}
                <span class="badge bg-success">Success</span>
              {% elif msg.call_status == 'failed' %}
                <span class="badge bg-danger">Failed</span>
              {% else %}
                <span class="badge bg-secondary">-</span>
              {% endif %}
          </td>
          <td>{{ msg.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>{{ msg.called_at.strftime('%Y-%m-%d %H:%M:%S') if msg.called_at else '-' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
