{% extends "layout.html" %}
{% block title %}System Config{% endblock %}

{% block content %}
<h2 class="mb-4">Test Campaign Outbound</h2>
<form method="POST" action="/campaign/outbound" class="bg-white p-4 rounded shadow-sm">
  <div class="mb-3">
    <label for="dn">DN:</label>
    <input type="text" name="dn" required><br><br>
  </div>
<div class="mb-3"></div>
  <label for="number">เบอร์ปลายทาง:</label>
  <input type="text" name="number" required><br><br>
 </div>
  <button type="submit">โทรออก</button>
</form>

{% endblock %}
