{% extends "layout.html" %}

{% block title %}Call Detail Record{% endblock %}

{% block content %}
<h2>📊 Call Detail Record</h2>
<div>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  {% if data %}
    <div class="table-responsive">
      <table id="dataTable" class="table table-bordered table-hover align-middle mb-0">
        <thead class="table-light">
          <tr>
            {% for col in columns %}
            <th>{{ col }}</th>
            {% endfor %}
          </tr>
          <!-- <tr class="filters">
            {% for col in columns %}
            <th><input type="text" class="form-control form-control-sm" placeholder="ค้นหา..." /></th>
            {% endfor %}
          </tr> -->
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            {% for col in columns %}
            <td>{{ row[col] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
  <p class="text-muted mt-4">ไม่มีข้อมูลให้แสดง</p>
  {% endif %}
</div>
{% endblock %}

