{% extends "layout.html" %}

{% block title %}Inbound Calls{% endblock %}

{% block content %}
<h2>Inbound Calls Reports</h2>
<div>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  {% if data %}

  <div class="d-flex gap-2 mb-3">
    <div>
        <label for="fromDate" class="form-label mb-0">From:</label>
        <input type="date" id="fromDate" class="form-control form-control-sm" />
    </div>
    <div>
        <label for="toDate" class="form-label mb-0">To:</label>
        <input type="date" id="toDate" class="form-control form-control-sm" />
    </div>
  </div>
  <div class="bg-white p-4 rounded shadow-sm">
  <!-- สร้าง wrapper ให้ DataTable ควบคุม scroll ได้ดี -->
  <div style="overflow-x: auto;">
    <table id="myTable" class="table table-hover table-striped align-middle nowrap" style="width:100%; border-collapse: collapse;">
      <thead class="table-light">
        <tr>
          {% for col in columns %}
          <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          {% for col in columns %}
          <td>{{ row[col] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  {% else %}
  <p class="text-muted mt-4">ไม่มีข้อมูลให้แสดง</p>
  {% endif %}
</div>
{% endblock %}

