{% extends "layout.html" %}
{% block title %}System Config{% endblock %}

{% block content %}
<h2 class="mb-4">System Configuration</h2>

<form method="POST" class="bg-white p-4 rounded shadow-sm">
  <div class="mb-3">
    <label for="max_attempts" class="form-label">Max Failed Login Attempts</label>
    <input type="number" name="max_attempts" class="form-control" value="{{ max_attempts }}" required>
  </div>

  <div class="mb-3">
    <label for="lockout_minutes" class="form-label">Lockout Time (Minutes)</label>
    <input type="number" name="lockout_minutes" class="form-control" value="{{ lockout_minutes }}" required>
  </div>

  <div class="mb-3">
    <label for="api_token" class="form-label">API Token</label>
    <input type="text" class="form-control" id="api_token" name="api_token" value="{{ api_token }}">
  </div>

  <div class="mb-3">
    <label for="recording_path" class="form-label">RECORDING PATH</label>
    <input type="text" class="form-control" id="recording_path" name="recording_path" value="{{ recording_path }}">
  </div>

  <div class="mb-3">
  <label for="tcx_url" class="form-label">TCX URL</label>
  <input type="text" class="form-control" id="tcx_url" name="tcx_url" value="{{ tcx_url }}">
  </div>

  <div class="mb-3">
    <label for="tcx_token_url" class="form-label">TCX TOKEN URL</label>
    <input type="text" class="form-control" id="tcx_token_url" name="tcx_token_url" value="{{ tcx_token_url }}">
  </div>

  <div class="mb-3">
    <label for="tcx_client_id" class="form-label">TCX CLIENT ID</label>
    <input type="text" class="form-control" id="tcx_client_id" name="tcx_client_id" value="{{ tcx_client_id }}">
  </div>

  <div class="mb-3">
    <label for="tcx_client_secret" class="form-label">TCX CLIENT SECRET</label>
    <input type="text" class="form-control" id="tcx_client_secret" name="tcx_client_secret" value="{{ tcx_client_secret }}">
  </div>

  <div class="mb-3">
    <label for="tcx_grant_type" class="form-label">TCX GRANT TYPE</label>
    <input type="text" class="form-control" id="tcx_grant_type" name="tcx_grant_type" value="{{ tcx_grant_type }}">
  </div>

  <div class="mb-3">
    <label for="tcx_call_control_url" class="form-label">TCX_CALL_CONTROL_URL</label>
    <input type="text" class="form-control" id="tcx_call_control_url" name="tcx_call_control_url" value="{{ tcx_call_control_url }}">
  </div>

  <div class="mb-3">
    <label for="tcx_makecall_path" class="form-label">TCX_MAKECALL_PATH</label>
    <input type="text" class="form-control" id="tcx_makecall_path" name="tcx_makecall_path" value="{{ tcx_makecall_path }}">
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
