{% extends "layout.html" %}
{% block title %}Test Campaign Outbound{% endblock %}

{% block content %}
<h2 class="mb-4">Test Campaign Outbound</h2>
<form method="POST" action="/campaign/outbound" class="bg-white p-4 rounded shadow-sm">

    <div class="row mb-3">
    
    <div class="col-md-6">
        <label for="dn" class="form-label">DN:</label>
        <input type="text" class="form-control" name="dn" required>
    </div>
    
    <div class="col-md-6">
        <label for="number" class="form-label">Phone No.:</label>
        <input type="text" class="form-control" name="number" required>
    </div>

    <div class="col-md-6">
        <label for="mesage" class="form-label">Mesage:</label>
        <input type="text" class="form-control" name="mesage" required>
    </div>
    
</div>

  <button type="submit" class="btn btn-primary">Start</button>
</form>

{% endblock %}
