{% extends "layout.html" %}
{% block title %}Upload Campaign{% endblock %}

{% block content %}
<h2 class="mb-4">Upload Campaign</h2>
<form method="POST" enctype="multipart/form-data" class="bg-white p-4 rounded shadow-sm mb-4" action="/campaign/upload">
  <div class="d-flex align-items-center gap-2 flex-wrap">
    <input type="file" name="file" accept=".csv" required class="form-control w-auto">

    <a href="/download/template" class="btn btn-outline-secondary">
      ⬇️ ดาวน์โหลดเทมเพลต CSV
    </a>

    <button type="submit" class="btn btn-success">
      📁 อัปโหลดไฟล์ CSV
    </button>
  </div>
</form>


<div class="bg-white p-4 rounded shadow-sm">
  <div style="overflow-x: auto;">
    <table id="myTable" class="table table-hover table-striped align-middle nowrap" style="width:100%; border-collapse: collapse;">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Campaign Name</th>
          <th>Phone No.</th>
          <th>Queue</th>
          <th>Agent</th>
          <th>Call State</th>
          <th>Created At</th>
          <th>Call At</th>
        </tr>
      </thead>
      <tbody>
        {% for lead in leads %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ lead.name }}</td>
          <td>{{ lead.phone_number }}</td>
          <td>{{ lead.queue or '-' }}</td>
          <td>{{ lead.agent or '-' }}</td>
          <td>{{ lead.call_status or '-' }}</td>
          <td>{{ lead.created_at or '-' }}</td>
          <td>{{ lead.called_at or '-' }}</td>
          <td>
            <form method="POST" action="/campaign/call/{{ lead.id }}" class="d-inline">
              <input type="hidden" name="dn" value="8006">
              <button class="btn btn-sm btn-outline-primary" type="submit">📞 โทรออก</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
